.body{
   /* width: 100%; */
   overflow: auto;
   display:flex;
   
}
.sidebar{
    width: 12%;
    float: left;
}
.main{
    width: 88%;
    background-color: rgb(250, 249, 249);
}
.footer{
    position:absolute;
    bottom: 0;
    width: 88%;
} 