.sidebar-list{
  border: 1px solid rgb(221, 219, 219);
}
ul{
  padding: 0;
  margin: 0;
}

.li-item{
  text-align: start;
  border-bottom: 1px solid rgb(221, 219, 219);
  list-style-type: none;
}

.li-item:hover{
  background-color: rgb(247, 245, 245);
  cursor: pointer;
  color:#007bff;
}


