.li{
    border-bottom: 1px solid gray;
    padding: 10.2px;
}
.list{
    width: 165px;
    border-right: 1px solid gray;
}
.list li:hover{
  color: rgb(136, 176, 211);
  background-color: rgb(240, 240, 240);
}